amp-stream-gallery:not([i-amphtml-gallery-laid-out]) {
  visibility: hidden;
}

amp-stream-gallery .i-amphtml-carousel-content {
  display: flex;
}

.i-amphtml-stream-gallery-slides {
  order: 1;
  flex-grow: 1;
  min-width: 1px;
}

amp-stream-gallery .i-amphtml-carousel-scroll {
  margin-inline-end: auto;
}

.i-amphtml-stream-gallery-arrow-prev-slot {
  order: 0;
  left: 0;
}

.i-amphtml-stream-gallery-arrow-next-slot {
  order: 2;
  right: 0;
}

/* Start shared arrow styles */
.i-amphtml-stream-gallery-arrow-prev-slot,
.i-amphtml-stream-gallery-arrow-next-slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-amphtml-stream-gallery-prev,
.i-amphtml-stream-gallery-next {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
  background-color: rgba(255,255,255,.7);
  border: none;
  outline: none;
  cursor: pointer;

  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><polygon points="9.59,2 11,3.41 6.42,8 11,12.59 9.59,14 3.59,8 "/></svg>');
}

.i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><polygon points="6.41,2 5,3.41 9.58,8 5,12.59 6.41,14 12.41,8 "/></svg>');
}

/* End shared arrow styles */


/* Start outset arrow styles */
[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev,
[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-prev-slot > [disabled],
[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-next-slot > [disabled] {
  opacity: 0.4;
}

[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev {
  margin-left: 6px;
  margin-right: 12px;
}

[i-amphtml-stream-gallery-outset-arrows] > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  margin-right: 6px;
  margin-left: 12px;
}
/* End outset arrow styles */


/* Start inset arrow styles */
:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot,
:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}


:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > [disabled],
:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > [disabled],
[i-amphtml-stream-gallery-hide-buttons]:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot,
[i-amphtml-stream-gallery-hide-buttons]:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot {
  opacity: 0;
  /**
   * Note, screen readers can still activate the buttons when hide buttons is
   * specified, even though we have `pointer-events: none`.
   */
  pointer-events: none;
}

:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev,
:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  width: 48px;
  height: 48px;
}

:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-prev-slot > .i-amphtml-stream-gallery-prev {
  border-radius: 0px 4px 4px 0px;
}

:not([i-amphtml-stream-gallery-outset-arrows]) > .i-amphtml-stream-gallery-arrow-next-slot > .i-amphtml-stream-gallery-next {
  border-radius: 4px 0px 0px 4px;
}
/* End inset arrow styles */

amp-stream-gallery .i-amphtml-carousel-slotted > .i-amphtml-replaced-content {
  /*
   * Apply contain object-fit to all replaced content to avoid distorted ratios.
   */
  object-fit: contain;
}
